Repository oauthlib/oauthlib, pull requests merged in 2018-12, with the labels that each got.

#620 `invalid_scope` status code should be 400
  oauthlib/oauth2/rfc6749/errors.py
  tests/oauth2/rfc6749/grant_types/test_refresh_token.py
Labels: Breaking, Bug, OAuth2-Provider

#625 let grant_type support custom
  oauthlib/oauth2/rfc6749/clients/backend_application.py
  oauthlib/oauth2/rfc6749/clients/base.py
  oauthlib/oauth2/rfc6749/clients/legacy_application.py
  oauthlib/oauth2/rfc6749/clients/mobile_application.py
  oauthlib/oauth2/rfc6749/clients/web_application.py
Labels: OAuth2-Client

#623 Handle 401 with WWW-Authenticate. Moved wrong 401 into 400.
  oauthlib/oauth2/rfc6749/endpoints/introspect.py
  oauthlib/oauth2/rfc6749/endpoints/revocation.py
  oauthlib/oauth2/rfc6749/errors.py
  oauthlib/oauth2/rfc6749/grant_types/authorization_code.py
  oauthlib/oauth2/rfc6749/grant_types/client_credentials.py
  oauthlib/oauth2/rfc6749/grant_types/refresh_token.py
  oauthlib/oauth2/rfc6749/grant_types/resource_owner_password_credentials.py
  tests/oauth2/rfc6749/endpoints/test_introspect_endpoint.py
  tests/oauth2/rfc6749/endpoints/test_revocation_endpoint.py
Labels: Breaking, OAuth2-Provider

#630 Fix issue when using Metadata Endpoint with OIDC PreConfigured server.
  oauthlib/oauth2/rfc6749/endpoints/metadata.py
  oauthlib/openid/connect/core/endpoints/pre_configured.py
  tests/oauth2/rfc6749/endpoints/test_metadata.py
Labels: Bug, OAuth2-Provider

#617 Initial OAuth2.0/PKCE Provider support
  docs/feature_matrix.rst
  docs/oauth2/server.rst
  oauthlib/common.py
  oauthlib/oauth2/rfc6749/endpoints/metadata.py
  oauthlib/oauth2/rfc6749/errors.py
  oauthlib/oauth2/rfc6749/grant_types/authorization_code.py
  oauthlib/oauth2/rfc6749/request_validator.py
  tests/oauth2/rfc6749/endpoints/test_client_authentication.py
  tests/oauth2/rfc6749/endpoints/test_credentials_preservation.py
  tests/oauth2/rfc6749/endpoints/test_error_responses.py
  tests/oauth2/rfc6749/endpoints/test_metadata.py
  tests/oauth2/rfc6749/endpoints/test_resource_owner_association.py
  tests/oauth2/rfc6749/endpoints/test_scope_handling.py
  tests/oauth2/rfc6749/grant_types/test_authorization_code.py
  tests/oauth2/rfc6749/test_server.py
  tests/openid/connect/core/endpoints/test_claims_handling.py
  tests/openid/connect/core/grant_types/test_authorization_code.py
  tests/openid/connect/core/grant_types/test_implicit.py
  tests/openid/connect/core/test_server.py
Labels: Feature, OAuth2-Provider

#632 Use pytest as test framework
  docs/contributing.rst
  requirements-test.txt
  tox.ini
Labels: Cleanup

#629 Add OAuth2.0 Authorization Server Metadata documentation
  docs/oauth2/endpoints/endpoints.rst
  docs/oauth2/endpoints/metadata.rst
  oauthlib/oauth2/rfc6749/endpoints/metadata.py
Labels: Documentation, OAuth2-Provider

#634 Extract common code into helpers
  oauthlib/oauth2/rfc6749/endpoints/base.py
  oauthlib/oauth2/rfc6749/endpoints/introspect.py
  oauthlib/oauth2/rfc6749/endpoints/revocation.py
  oauthlib/oauth2/rfc6749/grant_types/authorization_code.py
  oauthlib/oauth2/rfc6749/grant_types/base.py
  oauthlib/oauth2/rfc6749/grant_types/client_credentials.py
  oauthlib/oauth2/rfc6749/grant_types/implicit.py
  oauthlib/oauth2/rfc6749/grant_types/refresh_token.py
  oauthlib/oauth2/rfc6749/grant_types/resource_owner_password_credentials.py
Labels: Cleanup

#635 Remove unused 'requires' variable form setup.py
  setup.py
Labels: Cleanup

#638 Remove unused 'tests_require' from setup.py
  setup.py
Labels: Cleanup
