Repository oauthlib/oauthlib, pull requests merged in 2019-05, with the labels that each got.

#669 Add case-insensitive headers to oauth1 BaseEndpoint
  oauthlib/oauth1/rfc5849/endpoints/base.py
  tests/oauth1/rfc5849/endpoints/test_base.py
Labels: OAuth1

#660 Add `reqval.fill_id_token` with technicals OIDC fields into `id_token`
  docs/oauth2/oidc/id_tokens.rst
  oauthlib/oauth2/rfc6749/request_validator.py
  oauthlib/openid/connect/core/grant_types/authorization_code.py
  oauthlib/openid/connect/core/grant_types/base.py
  oauthlib/openid/connect/core/grant_types/implicit.py
  oauthlib/openid/connect/core/request_validator.py
  tests/openid/connect/core/grant_types/test_base.py
  tests/openid/connect/core/test_request_validator.py
Labels: Feature, OIDC

#674 token_type should be case insensitive
  oauthlib/oauth2/rfc6749/tokens.py
  tests/oauth2/rfc6749/test_tokens.py
Labels: OAuth2-Provider

#671 Fix 670. AuthCode API must return the new PKCE attribute
  oauthlib/oauth2/rfc6749/grant_types/authorization_code.py
  tests/oauth2/rfc6749/grant_types/test_authorization_code.py
Labels: Bug, OAuth2-Provider
