Repository oauthlib/oauthlib, pull requests merged in 2019-02, with the labels that each got.

#653 Fix 652: removed "state" from /token response.
  CHANGELOG.rst
  oauthlib/oauth2/rfc6749/grant_types/authorization_code.py
  oauthlib/oauth2/rfc6749/grant_types/client_credentials.py
  oauthlib/oauth2/rfc6749/grant_types/implicit.py
  oauthlib/oauth2/rfc6749/grant_types/refresh_token.py
  oauthlib/oauth2/rfc6749/grant_types/resource_owner_password_credentials.py
  oauthlib/oauth2/rfc6749/tokens.py
  oauthlib/openid/connect/core/grant_types/base.py
  oauthlib/openid/connect/core/grant_types/implicit.py
  oauthlib/openid/connect/core/tokens.py
  tests/oauth2/rfc6749/endpoints/test_credentials_preservation.py
  tests/oauth2/rfc6749/test_server.py
  tests/openid/connect/core/test_server.py
Labels: Bug, OAuth2-Provider, OIDC

#654 Remove usage of "state" for code/token response.
  examples/skeleton_oauth2_web_application_server.py
  oauthlib/oauth2/rfc6749/request_validator.py
  tests/openid/connect/core/grant_types/test_authorization_code.py
Labels: Cleanup, Documentation, OAuth2-Provider

#651 Fixed space encoding in base string URI used in the signature base st…
  CHANGELOG.rst
  oauthlib/oauth1/rfc5849/__init__.py
  oauthlib/oauth1/rfc5849/signature.py
  tests/oauth1/rfc5849/test_signatures.py
Labels: OAuth1

#656 OIDC: Raise error=invalid_request when nonce is mandatory
  oauthlib/openid/connect/core/grant_types/base.py
  oauthlib/openid/connect/core/grant_types/hybrid.py
  oauthlib/openid/connect/core/grant_types/implicit.py
  tests/openid/connect/core/grant_types/test_authorization_code.py
  tests/openid/connect/core/grant_types/test_hybrid.py
  tests/openid/connect/core/grant_types/test_implicit.py
Labels: OIDC
