Repository oauthlib/oauthlib, pull requests merged in 2020-04, with the labels that each got.

#731 Fix OAuth2 base `Client` inconsistent `scope` handling
  CHANGELOG.rst
  oauthlib/oauth2/rfc6749/clients/base.py
Labels: Bug, OAuth2-Client

#726 OAuth2 `LegacyApplicationClient.prepare_request_body` now correctly uses the default `scope` provided in constructor
  CHANGELOG.rst
  oauthlib/oauth2/rfc6749/clients/legacy_application.py
Labels: Bug, OAuth2-Client

#729 OAuth2 `xxxApplicationClient` now correctly use the default `scope` provided in constructor
  CHANGELOG.rst
  oauthlib/oauth2/rfc6749/clients/mobile_application.py
  oauthlib/oauth2/rfc6749/clients/service_application.py
  oauthlib/oauth2/rfc6749/clients/web_application.py
Labels: Bug, OAuth2-Client

#716 Rework client authentication in SkeletonValidator for clarity
  examples/skeleton_oauth2_web_application_server.py
Labels: Documentation

#705 Add sponsoring section
  .github/FUNDING.yml
  docs/contributing.rst
  tox.ini
Labels: Contributor Friendly, Documentation
