Repository oauthlib/oauthlib, pull requests merged in 2020-01, with the labels that each got.

#711 typo in log message for client_credentials
  oauthlib/oauth2/rfc6749/grant_types/client_credentials.py
Labels: Cleanup, OAuth2-Provider

#702 Initial custom grant type documentation.
  docs/oauth2/grants/custom_grant.rst
  docs/oauth2/grants/custom_validators.rst
  docs/oauth2/grants/grants.rst
  docs/oauth2/grants/refresh.rst
  tox.ini
Labels: Documentation, OAuth2-Provider

#704 Merge pull request #704 from oauthlib/doc-oidc
  docs/oauth2/oidc.rst
  docs/oauth2/oidc/authcode.rst
  docs/oauth2/oidc/dispatchers.rst
  docs/oauth2/oidc/endpoints.rst
  docs/oauth2/oidc/grants.rst
  docs/oauth2/oidc/hybrid.rst
  docs/oauth2/oidc/implicit.rst
  docs/oauth2/oidc/userinfo.rst
  docs/oauth2/oidc/validator.rst
  oauthlib/openid/connect/core/grant_types/dispatchers.py
Labels: Documentation, OIDC
